img{
    width:100px;
    height:100px;
}
#name{
    border:1px solid black;
}
#name:hover{
    border:1px solid green;
}
.test{
    border:1px solid black;
}
.test:hover{
    border:1px solid blue;
}