
img{
    width:100px;
    height:100px;
}
.test{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2em;

    justify-content: center;


}

.navigation{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
.navigation > div{
    background-color: #f1f1f1;
    width: 25%;
    margin: 10px;
    text-align: center;

}
/* [class*="data"]{ */
#data {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

#data > div {

background-color: #f1f1f1;
width: 25%;
margin: 10px;
text-align: center;

}
.item:hover{
    border:1px solid green;
}
.test{
    border:1px solid black;
}
.test:hover{
    border:1px solid blue;
}
.circle{
    margin-left: 60%;
     width: 20px;
     height: 20px;
     border-radius: 55%;
     border:1px solid red;
     color: black;
     font-size: 18px;
}
#game{
    background-color: #59fc19;

}
#water{
    background-color: #2a9cfa;

}
#tend{
    background-color: #ecdf29;

}
#harvest{
    background-color:lawngreen;
}
#congrats{
    border:1px solid green;
    color:green;

}
