
img{
    width:100px;
    height:100px;
}
table{
    column-span: 2px;
}
th{
    /* column-count: 3; */
   padding: 50px;
   /* border: 1px solid red; */

    /* column-width: 40px; */


    /* width:50%; */
}
/* [class*="data"]{ */
#data {
 display: flex;
 flex-wrap: wrap;


    /* background-color: grey; */
    /* float: left; */
    /* padding: .5%; */
    /* width:10%; */
}

#data > div {

        background-color: #f1f1f1;
        width: 25%;
        margin: 10px;
        text-align: center;

      }
.item:hover{
    border:1px solid green;
}
.test{
    border:1px solid black;
}
.test:hover{
    border:1px solid blue;
}
.circle{
    margin-left: 60%;
     width: 20px;
     height: 20px;
     border-radius: 55%;
     border:1px solid red;
     color: black;
     font-size: 18px;
    }